/* fonts----------------------------------------------------------- */
@import url('pally.css');
/* portada----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home_content {
    height: 100%;
    transform: translateZ(0);
    background-color: black;
  
  }
  
  .home_block {
    position: relative;
    height: 100vh;
    background-color: black;
  }
  
  [class*=item-parallax] {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    will-change: transform;
  }
  
  .home_item-parallax-media {
    z-index: 1;
    background-color: black;
  }
  
  /* ---------------inicio background bolitas------------------------ */
  .home_area_circulos{
    background: #000;  
  }
  .home_circulos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100px;
  }
  .home_circulos li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #de2276;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  .home_circulos li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background-color: #ededed;
  
  }
  .home_circulos li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  .home_circulos li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background-color: #ededed;
  
  }
  .home_circulos li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .home_circulos li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .home_circulos li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .home_circulos li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .home_circulos li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background-color: #ededed;;
  }
  
  .home_circulos li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #ededed;;
  }
  @keyframes animate {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
  
  }
  
  /* ---------------------------fin de background de bolitas-------------------------------- */
  .home_item-parallax-content {
    z-index: 2;
  }
  .home_block:nth-child(1) .home_item-parallax-content {
    transform: translateY(calc( var(--yBlock-1) * 0.5px ));
  }
  .home_block:nth-child(2) .home_item-parallax-content {
    transform: translateY(calc( var(--yBlock-2) * 0.4px ));
  }
  .home_block:nth-child(3) .home_item-parallax-content {
    transform: translateY(calc( var(--yBlock-3) * 0.4px ));
  }
  .home_block:nth-child(4) .home_item-parallax-content {
    transform: translateY(calc( var(--yBlock-4) * 0.4px ));
  }
  
  .home_flex-container {
  display: flex;
  margin: auto;
  }
  
  .home_centered-content {
  margin:auto;
  align-items: center;
  align-self: center;
  justify-content: center;
  }
  
    
  .home_h1{
  text-align: center;
  font-size: 5rem;
  color: #ffffff;
  font-family: 'Pally-Bold';
  margin-top: 2rem;
  }
      
  .home_p_principal{
  font-family: 'Pally-Regular';
  color: #ffffff;
  padding-top: 15px;
  text-align: center;
  font-size: 1.5rem;
  }
  
  .contenedor_home_btn{
    text-align: center;
  }
  
  .home_btn{
  width: 20%;
  height: 65px;
  background: #de2276;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Pally-regular';
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
  }
      
  .home_a{
  font-family: Montserrat-SemiBold;
  }
  
  
  @-webkit-keyframes bounce {
    0%, 100% {
        transform: translate(0, 0) rotateZ(45deg);
    }
    50% {
        transform: translate(0, -15px) rotateZ(45deg);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
        transform: translate(0, 0) rotateZ(45deg);
    }
    50% {
        transform: translate(0, -15px) rotateZ(45deg);
    }
  }
  
  /* ---fin portada--------------------------------------------------------------------- */
  /* ---bolitas--------------------------------------------------------------------- */
  #parallax-lvl-0, #parallax-lvl-1, #parallax-lvl-2, #parallax-lvl-3 {
    position: absolute;
    top: 0;
  }
  #parallax-lvl-1 {
    z-index:0;
  }
  #parallax-lvl-2 {
    z-index:10;
  }
  #parallax-lvl-3 {
    z-index:100;
  }
  
  .bubble {
    border-radius: 100%;
    position: absolute;
    opacity: 0.7;
  }
  .size1 {
    width:100px;
    height:100px;
  }
  .size2 {
    width:200px;
    height:200px;
  }
  .size3 {
    width:300px;
    height:300px;
  }
  .size4 {
    width:400px;
    height:400px;
  }
  .blanca {
    background-color: #ededed;
  }
  .rosa {
    background-color: #de2276;
  }
  
  
  /* Bubble positions */
  #b0-1 {
    top:3px;
    left:-200px;
  }
  
  #b0-4 {
    top:400px;
    left:-560px;
  }
  
  #b0-9 {
    top:1400px;
    left:-500px;
  }
  
  #b0-11 {
    top:720px;
    left:-380px;
  }
  
  #b1-1 {
    top:-120px;
    left:-200px;
  }
  #b1-2 {
    top:1000px;
    left:-220px;
  }
  #b1-4 {
    top:400px;
    left:-260px;
  }
  #b1-5 {
    top:820px;
    left:1190px;
  }
  #b1-6 {
    top:10px;
    left:1160px;
  }
  #b2-3 {
    top:1000px;
    left:-550px;
  }
  #b2-5 {
    top:1600px;
    left:1150px;
  }
  #b2-6 {
    top:1550px;
    left:200px;
  }
  
  #b3-1 {
    top:50px;
    left:-400px;
  }
  
  #b3-3 {
    top:550px;
    left:130px;
  }
  #b3-4 {
    top:2200px;
    left:-100px;
  }
  #b3-6 {
    top:860px;
    left:-400px;
  }
  
  #b4-1 {
    top: 3000px;
  left: 350px;
  }
  
  #b4-2 {
    top: 3560px;
  left: 950px;
  }
  #b4-3 {
    top: 3750px;
  left: -136px;
  }
  #b4-4 {
    top: 4290px;
    left: 1300px;
  }
  
  /* ---------carrisel gifs ---------------------------------------------------------*/
  
  .home_carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1250px;
  max-height: 550px;   
  overflow: hidden;
  position: relative;
  margin: auto;
  }
  .home_carousel_nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #de2276;
  bottom: 0;
  right: 130px;
  border-radius: 20px;
  }
  .home_carousel_icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #fff;
  }
  .home_carousel_arrow {
  cursor: pointer;
  display: inline-block;
  padding: 20px 20px;
  position: relative;
  }
  
  .home_carousel-item {
  visibility:visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
  }
  
  .home_carousel-item__image {
  width: 50%;
  height: 60%;
  order: 2;
  align-self: flex-end;
  flex-basis: 50%;
  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
  margin: auto;
  }
  
  .home_carousel-item--1 .home_carousel-item__image{
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGVhZWZteXJiNjFzNGt0cXg1djFudnIwYnkzNW0zdmMwam5hYTh5OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/9J1xDN2fwjKqwKnYN7/giphy.gif');
    }
  
  .home_carousel-item--2 .home_carousel-item__image{
  background-image: url('https://media.giphy.com/media/fe5P6vT6FtCk8oJxsR/giphy.gif');
  }
  
  
  .home_carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  width: 40%;
  }
  
  .home_carousel-item__info--5 {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 70%;
  text-align: left;
  }
  
  
  .home_carousel-item__title {
  margin: 15px 0 0 0;
  font-family: 'Pally-Bold';
  font-size: 60px;
  line-height: 45px;
  letter-spacing: 3px;
  color: #fff;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  text-align: right;
  }
  
  .home_carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: 'Pally-regular';
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 35px;
  text-align: right;
  font-size: 20px;
  }
  
  .home_carousel-item__btn {
  width: 35%;
  color: #fff;
  font-family: Montserrat;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  }
  
  .home_carousel__arrow:nth-child(1):after {
  content:'';
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  }
  
  .home_active{
   z-index: 1;
  display: flex;
  visibility:visible;
  }
  
  .home_active .home_carousel-item__subtitle, .home_active .home_carousel-item__title, .home_active .home_carousel-item__description, .home_active .carousel-item__description_primero,.home_active .home_carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
  }
  
  .home_active .home_carousel-item__image{ 
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
  }
  
  /* -----fin----carrusel gifs --------------------------------------------------------------------*/
  /* -------------categorias-----------------------------------------------------------------------*/
  
  .home_texto_categorias{
  text-align: center;
  color: #de2276;
  font-size: 40px;
  font-family: montserrat;
  font-weight: bold;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  }
    
  .home_texto_p_categorias{
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: montserrat;
  font-weight: normal;
  width: 35%;
  display: flex;
  margin: auto;
  padding-top: 45px;
  }
  
  .home_hovervideo_wrapper{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
   }
  
  .home_hovervideo_videobox{
   width: 30%;
   height: 400px;
   overflow: hidden;
  }
       
  .home_hovervideo_videobox .home_video{
   height: 100%;
   width: 100%;
   object-fit: cover;
   filter: brightness(65%) contrast(124%) saturate(108%) blur(0px) hue-rotate(0deg);
  }
  
  .home_hovervideo_videobox .home_video::-webkit-media-controls{
   display: none !important;
  }
  
  .home_video_card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -120px;
    height: 40px;
    position: relative;
    color:#fff
  }
  /* -----------fin--categorias------------------------------------------------------------------*/
  
  /* -------------Recompensas------------------------------------------------------------------*/
  .home_texto_wrapper{
    font-family: 'Pally-Bold', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;

  }
  
  
  .home_texto_izquierda{
    display: flex;
    align-items: center;
    color: #fff;
    background: #000;
    display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el contenido a la izquierda */
  text-align: right; /* Asegúrate de que el texto dentro también esté alineado a la izquierda */
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  font-size: 40px;
  }
  
  .home_texto_derecha{
    width:50%;
    color: white;
    font-size: 40px;
  }
  
  .home_texto_derecha div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .home_texto_derecha_h2{
    width: 50%;
    text-align: left;
  }
  
  
  .home_texto_derecha div:nth-child(1){
    background: #000;
    color: #fff;
  }
  
  .home_texto_derecha div:nth-child(2){
    background: #000;
    color: #fff;
  }
  
  .home_texto_derecha div:nth-child(3){
    background: #000;
    color: #fff;
  }
  
  
  /* -----------fin--Recompensas------------------------------------------------------------------*/
  .gif-section {
    background-color: #000; 
    position: relative;
    overflow: hidden; /* Esto asegura que nada se desborde del contenedor */
    height: 400px; /* Altura del rectángulo, ajusta según sea necesario */
  }
  
  .content-wrapper {
    background-image: url('https://media.giphy.com/media/26hiu3mZVquuykwhy/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 70px; /* Ajusta el padding según sea necesario */
    width: calc(100% - 150px); /* Hace que el contenido sea más corto que el fondo */
    margin: auto; /* Centra el contenido */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenido exactamente en el medio del fondo */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el texto y botón a la izquierda */
    border-radius: 50px;
  }

  .gif-section_texto{
    font-family: 'Pally-Bold';
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
  }
  .gif-section_texto_descripcion{
    font-family: 'Pally-Regular';
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
    height: 60%;
    width: 70%;
  }

  .btn {
    background-color: #de2276; /* Color del botón, ajusta según sea necesario */
    color: #fff;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 20px; /* Espacio sobre el botón */
    cursor: pointer;
    text-decoration: none; /* Elimina la subrayado de enlace */
    font-weight: 500;
    transition: background-color 0.3s; /* Efecto de transición para hover */
  }
  
  .btn:hover {
    background-color: #c81d65; /* Color del botón al pasar el cursor */
  }
  
  /*-----------------------------------FOOTER---------------------------------------------------------------------------*/
 footer{
  width: 100%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 35px;
  background-color: black;
  bottom: 0%;
}
#footer_central{
  width: 60%;
  height: auto;
  margin: auto;
}
#footer_central #foo_cont1{
  width: 100%;
  height: 30px;
  text-align: center;
  margin-bottom: 30px;
}
#footer_central #foo_cont1 .foo_h2{
  font-family: Montserrat-Light;
  letter-spacing: 2px;
  color: RGB(222,34,119);
  font-size: 2rem;
}
#footer_central #foo_cont2{
  display: flex;
  width: 100%;
 
}

#footer_central #foo_cont2 #foo_info{
  display: flex;
  width: 50%;
  border-right: 1px solid RGB(222,34,119);
  border-left: 1px solid RGB(222,34,119);
  padding-right: 10px;
}
#footer_central #foo_cont2 #foo_info .foo_info_a{
  width: 35%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  margin-left: 10px;
  transition: all 1000ms;
}
#footer_central #foo_cont2 #foo_info .foo_info_a:hover{
  background-color: RGB(222,34,119) ;
}

#footer_central #foo_cont2 #foo_info .foo_info_a a{
  display: block;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Light;
  font-size: 10px;
  letter-spacing: 2px;
}
#footer_central #foo_cont2 #foo_info .foo_info{
 
  width: 20%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  margin-left: 10px;
  transition: all 1000ms;
}
#footer_central #foo_cont2 #foo_info .foo_info:hover{

  background-color: RGB(222,34,119) ;
}
#footer_central #foo_cont2 #foo_info .foo_info a{
  display: block;
  text-decoration: none;
  color: white;
  font-family: Montserrat-Light;
  font-size: 10px;
  letter-spacing: 2px;
}


#footer_central #foo_cont2 #foo_img{
 width: 50%;
 border-right: 1px solid RGB(222,34,119);
}
#footer_central #foo_cont2 #foo_img #foo_img_central{
 width: 75px;
 height: 75px;
 margin: auto;
 border-radius: 8px;
 transition: all 1000ms; 
}
#footer_central #foo_cont2 #foo_img #foo_img_central:hover{
 background-color: RGB(222,34,119); 
}
#footer_central #foo_cont2 #foo_img #foo_img_central a img{
 width: 100%;
 height: 100%;
 
}
#footer_central #foo_cont3{
  width: 100%;
  height: 50px;
  padding-top: 2px;
}
#footer_central #foo_cont3 p{
  text-align: center;
}

#footer_central #foo_cont3 #derechos{

  font-family: Montserrat-Light;
  text-decoration: none;
  color: RGB(222,34,119);
  padding-top: 10px;
}

/*-----------------------------------FOOTER---------------------------------------------------------------------------*/
  