<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/home.css">

<body>
<div class="container">
    <div class="row"><main class="home_content  js-content">
        <div class="home_block home_seccion-landing">
          <figure class="home_item-parallax-media">
            <div class="home_area_circulos" >
              <ul class="home_circulos">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
              </ul>
            </div >
          </figure>
              <div class="home_item-parallax-content home_flex-container">
                <div class="home_centered-content">
                    <h1 class="home_h1">¿Quién te enseña a ser adulto?</h1> 
                    <p class="home_p_principal">Nadie, ¿Verdad? No te preocupes, estamos aquí para guiarte en este camino.</p>
                      <div class="contenedor_home_btn">
                          <a class="home_a" href="https://play.google.com/store/apps/details?id=com.makingfriends">
                            <button class="home_btn">Descarga la app</button></a>
                      </div>
                 </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
        
        <div class="home_block">
          <div id="parallax-lvl-0">
            <div id="b0-1" class="bubble size4 blanca">&nbsp;</div>
            <div id="b0-4" class="bubble size2 blanca">&nbsp;</div>
            <div id="b0-9" class="bubble size2 blanca">&nbsp;</div>
            <div id="b0-11" class="bubble size3 blanca">&nbsp;</div>
        </div>  
         
        <div id="parallax-lvl-1">
            <div id="b1-1" class="bubble size1 blanca">&nbsp;</div>
            <div id="b1-2" class="bubble size4 rosa">&nbsp;</div>
            <div id="b1-4" class="bubble size2 blanca">&nbsp;</div>
            <div id="b1-5" class="bubble size1 blanca">&nbsp;</div>
            <div id="b1-6" class="bubble size2 rosa">&nbsp;</div>
        </div>
        
        <div id="parallax-lvl-2">
            <div id="b2-3" class="bubble size2 blanca">&nbsp;</div>
            <div id="b2-5" class="bubble size2 rosa">&nbsp;</div>
            <div id="b2-6" class="bubble size1 blanca">&nbsp;</div>
        </div>
        
        <div id="parallax-lvl-3">
            <div id="b3-1" class="bubble size2 blanca">&nbsp;</div>
            <div id="b3-3" class="bubble size1 rosa">&nbsp;</div>
            <div id="b3-4" class="bubble size4 rosa">&nbsp;</div>
            <div id="b3-6" class="bubble size2 blanca">&nbsp;</div>
        </div>
        
    
      
      <div class="home_item-parallax-content home_flex-container ">
            <div class="home_carousel">
              <div class="home_carousel_nav">
                  <span id="moveLeft" class="home_carousel_arrow">
                    <svg class="home_carousel_icon" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                    </svg>
                  </span>
                  <span id="moveRight" class="home_carousel_arrow" >
                    <svg class="home_carousel_icon"  width="24" height="24" viewBox="0 0 24 24">
                      <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                    </svg>    
                  </span>
            </div>
      
              <div class="home_carousel-item home_carousel-item--1 home_active">
                  <div class="home_carousel-item__image"></div>
                    <div class="home_carousel-item__info">
                      <div class="home_carousel-item__container">
                          <h1 class="home_carousel-item__title">Gana recompensas</h1>
                             <p class="home_carousel-item__description">Por cada curso que termines ganarás premios, gracias a nuestra red de colaboradores</p>
                      </div>
                    </div>
                  </div>
      
              <div class="home_carousel-item home_carousel-item--2">
                <div class="home_carousel-item__image"></div>
                  <div class="home_carousel-item__info">
                    <div class="home_carousel-item__container">
                        <h1 class="home_carousel-item__title">Desarrollo Integral</h1>
                          <p class="home_carousel-item__description">Te ayudamos a crecer en todos los aspectos, desde el bienestar físico y emocional hasta el desarrollo profesional.</p>
                    </div>
                  </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="home_texto_wrapper">
          <div class="home_texto_izquierda">
              <h2 class="home_texto_derecha_h2_1">Podrás aprender desde</h2>
          </div>
          <div class="home_texto_derecha">
              <div>
                  <h2 class="home_texto_derecha_h2">Cómo usar una tarjeta de crédito</h2>
              </div>
              <div>
                  <h2 class="home_texto_derecha_h2">Documentos importantes que debes tener</h2>
              </div>
              <div>
                  <h2 class="home_texto_derecha_h2">Lo necesario para terminar tu tesis</h2>
              </div>
          </div>
      </div>

      <div class="gif-section">
        <div class="content-wrapper">
            <h1 class="gif-section_texto">¿Quieres ser un Friend?</h2>
            <h2 class="gif-section_texto_descripcion">Al convertirte en nuestro aliado, formarás parte de nuestra comunidad y recibirás sus beneficios además de mostrar tus productos.</p>
            <a href="https://makingfriends.typeform.com/to/ZGnLjkze" class="btn">Sí quiero</a>
        </div>
    </div>

    <!--  ================================================== FOOTER ================================================== -->
    <footer>
      <div id="footer_central">

          <div id="foo_cont1">
              <h2 class="foo_h2">CREA  HASTA  QUE  TODOS  CREAN</h2>
          </div>

          <div id="foo_cont2">

              <div id="foo_info">
                  <div class="foo_info_a">
                      <a href="{% url 'tyc' %}">Términos y condiciones</a>
                  </div>
                  <div class="foo_info">
                      <a href="{% url 'privacidad' %}">Privacidad</a>
                  </div>
                  <div class="foo_info">
                      <a href="{% url 'nosotros' %}">Nosotros</a>
                  </div>
                  <div class="foo_info">
                      <a href="{% url 'contacto' %}">Contacto</a>
                  </div>

              </div>

              <div id="foo_img">
                  <div id="foo_img_central">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'core/img/nuevo_logo.png' %}" alt="">
                    </a>
                  </div>
              </div>

          </div>

          <div id="foo_cont3">
               <p class="foo_p"><a id="derechos" href="{% url 'privacidad' %}">© Todos los derechos reservados. Enero 2021. LINADI S.A.S</a></p>
          </div>

       </div>
  </footer>
  <!--  ================================================== FOOTER ================================================== -->
    
              
      </main>
  </div>
</div>

<script src="js/home.js"></script>
<script src="js/slider.js"></script>
</body>
</html>
